{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <form method = "POST">
        {% csrf_token %}
            {{truckform|crispy}} <br>
        <input class="btn btn-outline-primary" type="submit" value="Save" />
    </form>
    <br>
    <div class="table responsive">
    
         <br>
     <table class = 'table table-bordered table-striped'>
        <thead class = 'table-light'>
            <tr>
            <th class = "text-center">S/N</th>
            <th class = "text-center">TRUCK NUMBER</th>
            <th class = "text-center">PLATE NUMBER</th>
            {% if request.user.is_superuser %}
            
            <th class = "text-center">DELETE</th>
            {% endif %}
            </tr>
        </thead>
        
        {%for item in alltruck %}
        {% comment %} {{item.item_name}} has this quantity: {{item.quantity}}<br> {% endcomment %}
        <tr>
            <td class = "text-center">{{forloop.counter}}</td>
            <td class = "text-center"><a href="{% url 'trucks:updatetruck' item.id %}">{{item.bl_number|upper}}</a></td>
            <td class = "text-center"><a href="#">{{item.plate_number|upper}}</a></td>
            {% if request.user.is_superuser %}
            <td class = "text-center"><a href="{% url 'trucks:deletetruck' item.id %}"><img src="{% static 'img/del.jpg' %}" height= "20" width="20"></a></td>
        {% endif %}
        </tr>
        {%endfor%}
        
        </table>
    </div>
{% endblock %}