{% extends 'base/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include "base/dnavbar.html" %}<br>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
        
        <img src="{{details.profile_pic.url}}" alt="Profile Image" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
          <h4>{{details.fullname}}</h4>
          <p>Location: City, Country</p>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Driver's Information</h3>
        <p> ID Type: {{details.id_type}}</p>
        <p> ID Number: {{details.id_number}}</p>
        <p>Phone: {{details.phone_number}}</p>
        <h3>Assigned Vehicle</h3>
        <p>BL Number: {{details.assigned_truck.bl_number}}</p>
        <p>BL Number: {{details.assigned_truck.plate_number}}</p>
      <a class="btn btn-outline-primary" href="{% url 'drivers:updatedriver' pk=details.pk %}"> Update Driver's Information</a>
      </div>
    </div>
</div>
        

{% endblock %}