{% extends 'base/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
.table td,
    .table th {
        font-size: 12px; /* Adjust the font size as needed */
    }
</style>
{% include "base/dnavbar.html" %}<br>
<div class="table-responsive">
    
         <br>
     <table class = 'table table-bordered table-striped'>
        <thead class = 'table-light'>
            <tr>
            <th class = "text-center">S/N</th>
            <th class = "text-center">DRIVER NAME</th>
            <th class = "text-center">PHONE NUMBER</th>
            <th class = "text-center">ID TYPE</th> 
            <th class = "text-center">ID NUMBER</th> 
            <th class = "text-center">TRUCK NUMBER</th> 
            <th class = "text-center">PLATES NUMBER</th>
            {% if request.user.is_superuser %} 
            <th class = "text-center">DELETE</th>
            {% endif %} 
            </tr>
        </thead>
        
        {%for serial_number, driver in items %}
        {% comment %} {{item.item_name}} has this quantity: {{item.quantity}}<br> {% endcomment %}
        <tr>
            <td class = "text-center">{{ serial_number }}</td>
            <td class = "text-center"><a href="{% url 'drivers:driverdetails' driver.id %}">{{driver.fullname|title}}</a></td>
            <td class = "text-center">{{driver.phone_number}}</td>
            <td class = "text-center">{{driver.id_type}}</td>
            <td class = "text-center">{{driver.id_number}}</td>
            <td class = "text-center">{{driver.assigned_truck.bl_number|upper}}</td>
            <td class = "text-center">{{driver.assigned_truck.plate_number|upper}}</td>
            {% if request.user.is_superuser %} 
            <td class = "text-center"><a href="{% url 'drivers:deletedriver' driver.id %}"><img src="{% static 'img/del.jpg' %}" height= "20" width="20"></td>
            {% endif %} 
        </tr>
        {%endfor%}
        
        </table>
    </div>
    <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
    </span>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'drivers:displaydriver' %}?page={{ page.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for i in page.paginator.page_range %}
        <li class="page-item {% if page.number == i %}active{% endif %}">
            <a class="page-link" href="{% url 'drivers:displaydriver' %}?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
          {% if page.has_next %}
          <li class="page-item"><a class="page-link" href="{% url 'trucks:truck' %}?page={{ page.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
{% endblock %}